{% extends "base-user.html" %}
{% from "render/heading.html" import render_heading %}
{% from "render/flashed_messages.html" import render_flashed_messages %}
{% from "render/field_label.html" import render_field_label %}
{% from "render/fields2_label.html" import render_fields2_label %}
{% from "render/submit.html" import render_submit %}

{% block title %}WLAM - Profile Edit{% endblock %}
{% block styles %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/chartjs.css') }}" rel="stylesheet">
{% endblock %}
{% block username %}{{ current_user.fname }} {{ current_user.lname }}{% endblock %}

{% block sidebar %}
{{ render_sidebar_admin('profile') }}
{% endblock %}

{% block content %}

{{ render_heading('Profile Edit') }}

{{ render_flashed_messages(get_flashed_messages(with_categories=True)) }}

<form action='{{ url_for('profile.edit', id=found_profile.id) }}' method='POST' autocomplete="off">
    {{ form.csrf_token }}

    {{ render_field_label(form.name, "Some help text") }}

    {{ render_fields2_label(form.direct_teaching, "Some help text", form.direct_teaching_percent, "Some help text") }}
    {{ render_field_label(form.direct_teaching_minimum, "Some help text") }}
    {{ render_fields2_label(form.supervision, "Some help text", form.supervision_percent, "Some help text") }}
    {{ render_fields2_label(form.research, "Some help text", form.research_percent, "Some help text") }}
    {{ render_fields2_label(form.university_service, "Some help text", form.university_service_percent, "Some help text") }}
    {{ render_fields2_label(form.lead_manage_admin, "Some help text", form.lead_manage_admin_percent, "Some help text") }}

    {{ render_submit(form.submit, url_for('profile.view', id=found_profile.id)) }}
</form>

{% endblock %}

{% block copyright %}<p class="mt-5 mb-3 text-muted">&copy; University of Sharjah - 2021</p>{% endblock %}