{% extends "base-user.html" %}
{% from "render/heading.html" import render_heading %}
{% from "render/flashed_messages.html" import render_flashed_messages %}
{% from "render/field_label.html" import render_field_label %}
{% from "render/submit.html" import render_submit %}

{% block title %}WLAM - Change Password{% endblock %}
{% block styles %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/chartjs.css') }}" rel="stylesheet">
{% endblock %}
{% block navbar %}active{% endblock %}
{% block username %}{{ current_user.fname }} {{ current_user.lname }}{% endblock %}

{% block sidebar %}
{% if current_user.role == 5: %}
{{ render_sidebar_admin('account') }}
{% else: %}
{{ render_sidebar_user('account', current_user.role) }}
{% endif %}
{% endblock %}

{% block content %}

{{ render_heading('Change Password') }}

{{ render_flashed_messages(get_flashed_messages(with_categories=True)) }}

<form action='{{ url_for('account.change_password') }}' method='POST' autocomplete="off"
    oninput='password_repeat.setCustomValidity(password_repeat.value != password.value ? "Passwords do not match." : "")'">
    {{ form.csrf_token }}

    {{ render_field_label(form.password) }}
    {{ render_field_label(form.password_repeat) }}

    {{ render_submit(form.submit, url_for('account.view')) }}
</form>

{% endblock %}

{% block copyright %}<p class="mt-5 mb-3 text-muted">&copy; University of Sharjah - 2021</p>{% endblock %}