{% extends "base-anon.html" %}
{% from "render/field_errors.html" import render_field_errors %}
{% from "render/flashed_messages.html" import render_flashed_messages %}

{% block title %}WLAM - Sign in{% endblock %}
{% block styles %}<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">{% endblock %}
{% block class %}class="form-signin"{% endblock %}

{% block content %}

<form action='{{ url_for('anon.signin') }}' method='POST' autocomplete="off">
    {{ form.csrf_token }}

    <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/University_of_Sharjah_Logo.png') }}" alt="">
    {{ render_flashed_messages(get_flashed_messages(with_categories=True)) }}

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {{ form.university_id }}
    {{ render_field_errors(form.university_id.errors) }}
    <div style="height: 4px;"></div>

    {{ form.password }}
    {{ render_field_errors(form.password.errors) }}
    <br>
    
    {{ form.submit }}

    <p class="mt-3 mb-3"><a href="{{ url_for('anon.reset') }}">Forgot password? Reset it!</a></p>
</form>

{% endblock %}

{% block copyright %}<p class="mt-5 mb-3 text-muted">&copy; University of Sharjah - 2021</p>{% endblock %}