{% extends "base-user.html" %}
{% from "render/flashed_messages.html" import render_flashed_messages %}
{% from "render/field_view.html" import render_field_view %}

{% block title %}WLAM - View Department{% endblock %}
{% block styles %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/chartjs.css') }}" rel="stylesheet">
{% endblock %}
{% block username %}{{ current_user.fname }} {{ current_user.lname }}{% endblock %}

{% block sidebar %}
{{ render_sidebar_admin('department') }}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">View Department</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{{ url_for('department.edit', id=found_department.id) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="{{ url_for('department.delete', id=found_department.id) }}" class="btn btn-sm btn-outline-secondary">Delete</a>
        </div>
    </div>
</div>

{{ render_flashed_messages(get_flashed_messages(with_categories=True)) }}

{{ render_field_view('University ID', found_department.university_id) }}
{{ render_field_view('Name', found_department.name) }}

{% endblock %}

{% block copyright %}Copyright &copy; WLAM 2021{% endblock %}
