{% extends "base-user.html" %}
{% from "render/flashed_messages.html" import render_flashed_messages %}
{% from "render/field_view.html" import render_field_view %}

{% block title %}WLAM - Graduate Student Supervision{% endblock %}
{% block styles %}
<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}
{% block username %}{{ current_user.fname }} {{ current_user.lname }}{% endblock %}

{% block sidebar %}
{{ render_sidebar_user('allocation_gs', current_user.role) }}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Graduate Student Supervision</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{{ url_for('allocation_gs.edit') }}" class="btn btn-sm btn-outline-secondary">Edit</a>
        </div>
    </div>
</div>

{{ render_flashed_messages(get_flashed_messages(with_categories=True)) }}

{{ render_field_view('PostGraduate Thesis Supervision (MSc & PhD)', current_user.gs21) }}
<!-- {{ render_field_view('Master Thesis Supervision', current_user.gs22) }} -->
{{ render_field_view('Thesis Support Roles', current_user.gs23) }}
{{ render_field_view('Graduate Program Coordination', current_user.gs24) }}
{{ render_field_view('Other', current_user.gs25) }}

<hr>
<!-- {{ render_field_view('Direct Graduate', directgraduate) }}
{{ render_field_view('Indirect Graduate', indirectgraduate) }} -->
{{ render_field_view('Summary', sum) }}

{% endblock %}
