{% extends "base-user.html" %}
{% from "render/heading.html" import render_heading %}
{% from "render/flashed_messages.html" import render_flashed_messages %}
{% from "render/field_label.html" import render_field_label %}
{% from "render/submit.html" import render_submit %}

{% block title %}WLAM - Leadership, Management and Administration Edit{% endblock %}
{% block styles %}
<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}
{% block username %}{{ current_user.fname }} {{ current_user.lname }}{% endblock %}

{% block sidebar %}
{{ render_sidebar_user('allocation_l', current_user.role) }}
{% endblock %}

{% block content %}

{{ render_heading('Leadership, Management and Administration Edit') }}
<p>This section is required only for three profiles Special Assignment, Dean, and Chair. Please skip this section if you have different profile. You are required to fill in only one field depend on your role.</p>

{{ render_flashed_messages(get_flashed_messages(with_categories=True)) }}

<form action='{{ url_for('allocation_l.edit') }}' method='POST' autocomplete="off">
    {{ form.csrf_token }}

    {{ render_field_label(form.l51, "Some help text") }}
    {{ render_field_label(form.l52, "Some help text") }}
    {{ render_field_label(form.l53, "Some help text") }}
    {{ render_field_label(form.l54, "Some help text") }}
    {{ render_field_label(form.l55, "Some help text") }}
    {{ render_field_label(form.l56, "Some help text") }}
    {{ render_field_label(form.l57, "Some help text") }}
    {{ render_field_label(form.l58, "Some help text") }}

    {{ render_submit(form.submit, url_for('allocation_l.view')) }}
</form>

{% endblock %}

{% block copyright %}<p class="mt-5 mb-3 text-muted">&copy; University of Sharjah - 2021</p>{% endblock %}