{% extends "base-user.html" %}
{% from "render/flashed_messages.html" import render_flashed_messages %}
{% from "render/role.html" import render_role %}

{% block title %}WLAM - Users{% endblock %}
{% block styles %}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/chartjs.css') }}" rel="stylesheet">
{% endblock %}
{% block username %}{{ current_user.fname }} {{ current_user.lname }}{% endblock %}

{% block sidebar %}
{{ render_sidebar_user('users_summary', current_user.role) }}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
</div>

{{ render_flashed_messages(get_flashed_messages(with_categories=True)) }}

<form action="#" onreset="wordChange(true)">
    <input type="text" id="searchIDInput" onkeyup="wordChange(false)" placeholder="Search for ID's.."
        title="Type in a id">
    <input type="text" id="searchNameInput" onkeyup="wordChange(false)" placeholder="Search for names.."
        title="Type in a name">
    <input type="text" id="searchEmailInput" onkeyup="wordChange(false)" placeholder="Search for emails.."
        title="Type in a email">
    <button type="reset" onclick="wordChange(true)">Clear</button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-sm" id="searchTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)"><a href="#">#</a></th>
                <th onclick="sortTable(1)"><a href="#">Name</a></th>
                <th onclick="sortTable(2)"><a href="#">Email</a></th>
                <th onclick="sortTable(3)"><a href="#">Role</a></th>
                <th onclick="sortTable(4)"><a href="#">Profile</a></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.university_id }}</td>
                <td><a style="display=block; height=24px; width=24px" href="{{ url_for('user_summary.details', id=user.id) }}">{{ user.fname }} {{ user.lname }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ render_role(user.role) }}</td>
                <td>{{ user.rank.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block copyright %}Copyright &copy; WLAM 2021{% endblock %}

{% block scripts %}
<script>
    function wordChange(reset) {
        if (reset) {
            table = document.getElementById("searchTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                tr[i].style.display = "";
            }

            return
        }
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        searchIDInput = document.getElementById("searchIDInput");
        searchIDFilter = searchIDInput.value.toUpperCase();
        searchNameInput = document.getElementById("searchNameInput");
        searchNameFilter = searchNameInput.value.toUpperCase();
        searchEmailInput = document.getElementById("searchEmailInput");
        searchEmailFilter = searchEmailInput.value.toUpperCase();
        table = document.getElementById("searchTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td0 = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[2];
            if (td0 && td1 && td2) {
                txtValue0 = td0.textContent || td0.innerText;
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                txtIndex0 = txtValue0.toUpperCase().indexOf(searchIDFilter);
                txtIndex1 = txtValue1.toUpperCase().indexOf(searchNameFilter);
                txtIndex2 = txtValue2.toUpperCase().indexOf(searchEmailFilter);
                if (txtIndex0 > -1 && txtIndex1 > -1 && txtIndex2 > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("searchTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (x.firstChild.nodeName == "A") {
                    xText = x.firstChild.innerHTML.toLowerCase();
                    yText = y.firstChild.innerHTML.toLowerCase();
                } else {
                    xText = x.innerHTML.toLowerCase();
                    yText = y.innerHTML.toLowerCase();
                }
                if (dir == "asc") {
                    if (xText > yText) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (xText < yText) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
{% endblock %}